#choix{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#choix .conteneur{
    position: absolute;
    width: 120%;
    display: flex;
    justify-content: space-between;
    transition: left .3s ease-out;
}
#choix .conteneur img{
    width: 50%;
    filter: blur(8px);
}
#choix .conteneur-images{
    display: flex;
    justify-content: space-between;
    width: 50%;
    min-width: 300px;
    left: 10%;
    z-index: 1;
}
#choix .conteneur-images .selecteur-card{
    width: 40%;
    text-align: center;
    color: lightskyblue;
    cursor: pointer;
}

#choix .conteneur-images .selecteur-card img{
    width: 20%;
    min-width: 300px;
}