#choix{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#choix .conteneur{
    position: absolute;
    width: 120%;
    display: flex;
    justify-content: space-between;
    transition: left .2s ease-out;
}
#choix .conteneur img{
    width: 50%;
    filter: blur(8px);
}
#choix .selecteur{
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
    font-size: 3rem;
    align-items: center;
    flex-direction: column;
}
/* #choix .selecteur .conteneur-central{

} */
#choix .selecteur .conteneur-images{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    min-width: 300px;
    left: 10%;
}
#choix .selecteur .conteneur-images .selcteur-card{
    width: 40%;
    text-align: center;
    color: lightskyblue;
    cursor: pointer;
}

#choix .selecteur .conteneur-images  .selcteur-card img{
    width: 100%;
    min-width: 300px;
}